.site-title::before {
  content: url("/assets/img/baer.svg");
  display: inline-block;
  position: relative;
  width: 40px;
  top: 5px;
}
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
