---
layout: base
---
<article>
    <header>
        <h2>{{ page.title }}</h2>
        <date>{{ page.date | date: "%d.%m.%Y %H:%M" }}</date>
    </header>
{% if page.content %}
    <p>{{ page.content | markdownify }}</p>
{% endif %}

{% assign location = site.locations | where: "name", page.location | first %}
{% if location %}
    <p>
    <h2>Veranstaltungsort</h2>
    {% include location.html location = location %}
    </p>
{% else %}
    <p>
    <h2>Veranstaltungsort</h2>
    Wird noch kommuniziert.
    </p>
{% endif %}
</article>