---
layout: base
---
<p>
    <a href="javascript:history.back()">&lt; Zurück</a>
</p>
<article>
    <header>
        <h2>{{ page.name }}</h2>
    </header>
    {% if page.content %}
    <p>{{ page.content | markdownify }}</p>
    {% endif %}

    {% if page.address and page.address != "" %}
    <h4>Standort:</h4>
    {% include location.html location = page %}
    {% assign param_address = page.address | newline_to_br | strip_newlines | split: "<br />" | join: "," | url_decode %}
    <p>
        <iframe
                width="450"
                height="250"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ site.maps_api_key }}&q={{ param_address }}"
                allowfullscreen>
        </iframe>
    </p>
    {% endif %}
</article>