name: Update event last_modified fields

on:
  push:
    branches:
      - main

jobs:
  update_events:
    if: "!contains(github.event.head_commit.message, 'ICS_LAST_MODIFIED_UPDATE')"
    runs-on: ubuntu-24.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.MTGBL_PAT || secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Update event last_modified fields
        run: .github/workflows/scripts/update_events_last_modified.sh

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'ICS_LAST_MODIFIED_UPDATE'
          push_options: --force
          file_pattern: '_events/*.markdown'
